* {
    box-sizing: border-box;
    height: 100%;
    width: 100%;

}
.main {
    background-image: url(../obrazy/man-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

h3.first,
h1.second {
    position: absolute;
    top: 30vh;
    text-align: left;
    margin-left: 20px;
    color: white;
    font-size: 5vh;

}

h1.second {
    position: relative;
    top: 40vh;
}

/*responsywność*/

@media (max-width:1170px) {

    div.main {
        background-image: url(../obrazy/man-2.jpg);
        height:70vh;
    }

    h3.first,
    h1.second {
        font-size: 2vh;
        color: white;
        left: 60%;

    }


    @media (max-width:992px) {

        div.main {
            background-image: url(../obrazy/man-1.jpg);
            height: 50vh;

        }

        h3.first,
        h1.second {
            top: 60vh;
            left: 0;
            color: black;
            text-align: center;
        font-size: 3vh}
            
            h1.second{ top:65vh;}
            
        
    }
